# Ignore import directory to reduce overhead
src/ontology/imports/*

# Intermediate csv outputs
*.csv

# ODBA file
src/ontology/psdo-edit.obda

# hide catalog fileas
src/ontology/catalog-v001.xml
catalog-v001.xml


# new file shouldn't require catalog download
tools/download-catalog.sh
